<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hodlinfo</title>
    <link href="css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="header">
        <img src="img.png" class="header-image">
    </div>



    <table>
        <tr>
            <th>#</th>
            <th>name</th>
            <th>Last</th>
            <th>Buy/Sell Price</th>
            <th>volume</th>
            <th>base_unit</th>
        </tr>

        <% for (var i=0; i <10 ; i++) { %>
            <tr>
                <td>
                    <%= i+1 %>
                </td>
                <td>
                    <%= results[i].name %>
                </td>
                <td>
                    <%= '₹'+results[i].last %>
                </td>
                <td>
                    <%= '₹'+results[i].buy +'/' + '₹'+results[i].sell%>
                </td>
                <td>
                    <%= results[i].volume %>
                </td>
                <td>
                    <%= results[i].base_unit %>
                </td>
            </tr>
            <% } %>
    </table>


</body>

</html>